/* START VARIABLES  */
:root {
  --main-color: rgb(245, 71, 72);
  --sec-color: rgb(254, 245, 245);
  --main-fonts: "Noto Serif Display", serif;
  --fs: 1em;
}

/* END VARIABLES */

/* START GLOBAL RULS */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--main-fonts);
  font-size: 1em;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* mediam */

@media (min-width: 992) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* END GLOBAL RULS */

/* SATRT HEADER */

.back-gr {
  background: linear-gradient(180deg, rgb(254, 243, 243), rgb(255, 254, 254));
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo a {
  width: 100%;
  color: black;
  text-decoration: none;
}
.header .container .links ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 698px) {
  .header .container .links {
    display: none;
  }
}
.header .container .links li {
  list-style: none;
  padding-right: 2rem;
}
.header .container .icon {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header .container .icon {
    display: none;
  }
}
.header .container .icon:hover {
}

.header .container .icon span {
  height: 5px;
  margin-top: 5px;
  width: 40px;
  background-color: var(--main-color);
}
.header .container .links li a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: var(--fs);
  transition: 3s;
}

.header .container .links li:first-child a {
  color: var(--main-color);
  font-size: var(--fs);
}

.header .container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .header .container .btn a button {
    display: none;
  }
}

.header .container button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.header .container .btn a:first-child button {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: white;
}
.header .container .btn a:nth-child(2) button {
  background-color: var(--main-color);
  color: white;
}

/* END OUR MENU */

/* Quality Food  */

.quality {
  display: flex;
  margin-top: 75px;
}
.quality .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 699px) {
  .quality .container {
    flex-direction: column;
  }
  .quality .container .plat-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.quality .container .plat-text {
  margin-right: 10px;
}
.quality .container .plat-text p:first-of-type {
  font-size: 1rem;
  font-weight: bold;
  color: var(--main-color);
  background-color: var(--sec-color);
}
.quality .container .plat-text p:last-of-type {
  font-size: 1rem;
  color: rgb(184, 182, 182);
  line-height: 1.6;
}
.quality .container .plat-text span {
  color: var(--main-color);
}
.quality .container .plat-text h1 {
  font-size: 3rem;
  font-weight: 600px;
}
.quality .search {
  max-width: 250px;
  position: relative;
}
.quality .search button {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  margin-left: 145px;
  margin-top: 2px;
  cursor: pointer;
}
.fa-angle-right:before {
  content: "\f105";
  margin-left: 5px;
}
.quality .search form input {
  padding: 5px 10px;
  width: 250px;
  height: 40px;
  margin-bottom: 10px;
  border-color: rgb(245, 71, 72);
  border-radius: 8px;
  position: absolute;
  background-color: transparent;
}

.quality .search img {
  max-width: 250px;
}

.quality .plat-imag img {
  max-width: 350px;
}
@media (max-width: 590px) {
  .quality .plat-imag {
    display: none;
  }
}

/* Quality Food  */

/*START Spicial Offer */

.spicial .container {
  background-color: var(--sec-color);
  margin-top: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spicial .container .spicial-image img {
  width: 400px;
  margin: 10px;
}
.spicial .spicial-text {
  margin-left: 25px;
}
.spicial .spicial-text h2 {
  font-size: 2.5rem;
  font-family: var(--main-fonts);
}
.spicial .spicial-text p {
  font-size: 12px;
  font-family: var(--main-fonts);
  line-height: 1.7;
  color: gray;
}
.spicial .spicial-text button {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  background-color: white;
  border: none;
  background-color: var(--main-color);
}

/* END Spicial Offer */

/* START  Our Menu */
.menu .container {
  text-align: center;
  margin-top: 100px;
  max-width: 600px;
}

.menu .container .menu-text h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.menu .container .menu-text:last-child p {
  font-size: 1.5rem;
  color: lightslategray;
}

/* start Our Menu-Cards */
.dich-cards .container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.dich-cards .container .dich-card {
  position: relative;
  width: 500px;
  height: 700px;
  background-color: var(--sec-color);
}
.dich-cards .container .dich-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 10px;
  padding-top: 10px;
}

/* End Our Menu-Cards */
